* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #ffffff;
    color: #000000;
}
.nav_links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
.nav_links, .footer_nav_links{
    display: flex;
    list-style: none;
}

.nav_links a{
    text-decoration: none;
    color: #000000;
}
.nav_links a:hover{
    color: #007BFF;
}




.hero_image img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in;
}
.hero_image{
    border: 1.2rem solid #000000;
}
.hero_image img:hover{
    transform: scale(1.02);
}
.hero_right{
    align-self: center;
}
.hero_right hr{
    width: 80px;
    height: 7px;
    background-color: #0409EB;
    opacity: 1;
    margin: 3rem 0;
}



#gallery{
    margin: auto;
    margin-top: 4rem;
}
#gallery h1{
    text-align: center;
}
#gallery_scroll_section{
    overflow: hidden;
}
.gallery_images img{
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0.6rem solid #000000;
    transition: transform .35s ease;
}
.gallery_images img:hover{
    transform: scale(1.03);
}
.gallery_images{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 1rem;
    animation: scroll-left 60s linear infinite;
}
@keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }




#about{
    text-align: center;
    margin: 4rem auto;
    margin-top: 3rem;
}
.about_image{
    border: 1.2rem solid #000000;
}
.about_image img{
    width: 100%;
    height: auto;
    transition: transform .35s ease;
}
.about_image img:hover{
    transform: scale(1.02);
}




#collage{
    margin: 4rem 0;
    text-align: center;
}
.collage_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    margin: 2rem;
    justify-content: center;
}
.collage_container > div{
    border: 1.2rem solid #000000;
}
.collage_container .image1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
#image1{
    border: 1.2rem solid #000000;
}
.image1 img{
    height: auto;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/2;
}
.tile img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: transform .35s ease;
    
}
.tile:hover img{ 
    transform:scale(1.03);
}
#artCarousel{
    border: 1.2rem solid #000000;
}
.carousel-item img{
    width: 100%;
    
    object-fit: cover;
    aspect-ratio: 1/1;
}




#contact h1{
    text-align: center;
    margin-bottom: 2rem;
}
#contact label, #contact input, #contact textarea{
    display: block;
    width: 100%;
}
#contact label{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
#contact input, #contact textarea{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: 1px solid #ffffff;
}
.contact_container{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    padding: 1.5rem;
    gap: 1.5rem;
}
.contact_form{
    width: 60%;
}
.contact_img{
    width: 40%;
}
.contact_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
#contact input{
    height: 4rem;
}
.contact_form button{
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
}




footer{
    background: #000000;
    color: #ffffff;
    padding: 4rem;
    margin-top: 5rem;
}
footer h1{
    margin-bottom: 2rem;
}
#footer_links{
    margin: 2rem auto;
}
.footer_icons{
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
footer, .footer_icons, .footer_links {
    text-align: center;
}
.footer_nav_links{
    justify-content: center;
}
.footer_nav_links a{
    text-decoration: none;
    color: #ffffff;
}
.footer_copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;
}



@media (min-width: 992px) {
    .hero_left{
        padding-top: 7rem;
    }
    #about{
        width: 45%;
    }
}
@media (max-width: 991px) {
    #hero, #about, #gallery{
        text-align: center;
        margin: 2rem auto;
    }
    .hero_left{
        padding-bottom: 1rem;
    }
    .hero_right{
        padding-top: 2rem;
    }
}
@media (min-width: 768px) {
    .contact_form{
        width: 60%;
        padding: 2rem;
    }
    .contact_container{
        gap: 2rem;
    }
}
@media (max-width: 575px) {
    .contact_form{
        width: 100%;
    }
}
